<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <title>Edit Style</title>
</head>
<body>
  <%- include('../partials/toast') %>
  <%- include('../partials/admin/sidebar') %>

  <main class="main-content">
    <div class="container">
      <div class="add-card">
        <h2>Edit Style</h2>
        <form action="/admin/edit-style/<%= style._id %>" method="POST">
          <div class="form-flex">
            <div class="input-group">
              <label>Name:</label>
              <input type="text" name="styleName" value="<%= style.name %>" required>
            </div>
            <div class="input-group">
              <label>List / Unlist :</label>
              <label class="switch">
                <input type="checkbox" name="isListed" <%= style.isListed ? 'checked' : '' %>>
                <span class="slider"></span>
              </label>
            </div>
          </div>
          <div class="save-container">
            <button type="submit" class="save-btn">UPDATE</button>
          </div>
        </form>
      </div>
    </div>
  </main>
</body>
</html>